.navbar {
  font-family: "PT Sans Narrow", Helvetica, Arial, sans-serif;
  font-weight: 400;
 
  line-height: 1.1;
}
	
.navbar-default .navbar-nav {
  text-transform: uppercase;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}


.navbar-default {
  z-index: 1000;  
  margin-bottom: 0px;
  background: #fc9272;
  border: 0px solid transparent;
  border-radius: 0;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #fc9272;
  border-bottom-color: #fc9272;
}

.navbar-default .navbar-nav > li> a {
  color: #FFFFFF;	
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #FFFFFF;
  color: #080808;
}

.navbar-default .navbar-nav .open .dropdown-menu >li > a {
  background-color: #fc9272;
  color: #ffffff;
 }
 
.navbar-default .navbar-nav .open .dropdown-menu >li > a:hover {
  color: #fc9272;
  background-color: #ffffff;
 } 
  
.navbar-default .navbar-nav .open .dropdown-menu >li > a:active {
  color: #080808;
  background-color: #ffffff;
 }  
  
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #FFFFFF;
  color: #fc9272;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover{
  background-color: #ffffff;	
}

.navbar-default .navbar-toggle:hover .icon-bar{
  background-color: #fc9272;	
}





	

.dropdown-menu {
	background-color: #fc9272;
	color: #FFFFFF;
	border-color: transparent;
	border-style: none;
	border-width: 0px;
	border-radius: 0px;
	box-shadow: 0px;
}

.dropdown-toggle .open .dropdown-toggle {
	color: #ffffff !important;
	background: #fc9272 !important;
}


.dropdown-toggle:active, .open .dropdown-toggle {
	color: #FFFFFF !important;
	background: #fc9272 !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #ffffff !important;
    color: #fc9272;
    outline: 0 none;
    text-decoration: none;
}

.dropdown-menu > li > a:active {
  	background-color: #ffffff;
  	color: #fc9272
}

.dropdown-menu > li > a:hover {
  	background-color: #ffffff;
  	color: #fc9272
}

.jumbotron {
	background: #FFFFFF;
	color: #222222;
	text-align: center;
	
}

.jumbotron h1 {
  font-size: 52px;
  line-height: 1;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "PT Sans Narrow", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
}

body {
  font-family: "PT Serif", Helvetica, Arial, sans-serif;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
  padding-top: 100px;
  
}

.img-thumbnail {
  padding: 2px;
  border: none;
  border-radius: 0;
}
  
.sanchoring, .lfi, .ct, .traditionalSOM, .anchoredSOM, .iarchitecture, .lfi_devel, .pilotstudy, .tracksinnode, .ctycoon, .innode, .innode2{
  text-align: center;
 }
 
.icon-custom {
	padding: 0px 0px 0px 0px; 
}
  
img {
  border: 0;
  vertical-align: middle;
}

a:hover {
	text-decoration: none;
}	

.band.header{
	background-color: #222222;
}

.go-top {
	position: fixed;
	bottom: 1em;
	right: 2em;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 1em;
	
}

.go-top:hover {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.6);
}
     






